@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&family=Dosis:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

body {
    margin: 0;
    padding: 0;
    scrollbar-width: thin; /* Firefox */
    overflow-y: hidden;
    text-align: center;
  }

.title{
    text-align: center;
    font-family: "Dosis";
    padding-top: 80px;
    font-size: 35px;
    font-weight:600;
}

#website_logo{
    padding-top: 70px;
    text-align: center;
    height: 400px;

}

.socials{
    padding-top: 50px;
    text-align: center;
    max-width: 100%;
}

.instagram{
    padding-right: 20px;
}

.message{
    text-align: center;
    font-family: "Dosis";
    font-size: 25px;
    padding-top: 20px;
}